:root {
  --header-height: 12rem;
  --bg-dark-shade-1: #2b2e32;
  --bg-very-dark: #0d0d0d;
  --bg-dark-shade-2: #373a3e;
  --bg-dark: #212326;
  --light-grey: #aaa;
  --green-1: #0f5132;
  --light-green: #458360;
  --green-2: #005142;
  --green-4: #00504e;
  --blue-1: #004e56;
  --blue-2: #1d4b59;
  --blue-4: #2f4858;
  --dark-blue: #064856;
  --dark-yellow: #705709;
  --dark-red: #82232c;
}

body.fancy-scrollbar::-webkit-scrollbar {
  width: 0.6rem !important;
}

body.fancy-scrollbar::-webkit-scrollbar-thumb {
  background-color: #aaa !important;
  border: 0.2rem solid var(--bg-dark-shade-1) !important;
  border-radius: 25px !important;
}

#vault-body.fancy-scrollbar::-webkit-scrollbar {
  width: 0.45rem !important;
}

#vault-body.fancy-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--light-grey) !important;
  border: 0.18rem solid var(--bg-dark-shade-1) !important;
  border-radius: 25px !important;
}

/* .secret::-webkit-scrollbar {
  margin-top: 1rem !important;
  width: 0.45rem !important;
}

.secret::-webkit-scrollbar-thumb {
  background-color: var(--light-grey) !important;
  border: 0.15rem solid var(--bg-very-dark) !important;
  border-radius: 25px !important;
} */

#collapseSecretVault {
  background-image: linear-gradient(
    to bottom,
    #303236,
    #2c2f33,
    #282b2f,
    #25282c,
    #212529
  );
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 1rem 1.5rem 0rem 1.5rem;
}
.secret.grid-item {
  background-color: var(--bg-very-dark);
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 0.5rem;
  padding: 0.75rem;
  margin: 0.5rem;
  font-size: 1rem;
  text-align: left;
  overflow-wrap: break-word !important;
  word-break: break-all !important;
}

.secret-algorithm {
  margin-left: 0.5rem;
  color: var(--light-grey);
  font-size: 1rem;
}

.secret-display-name {
  color: var(--green-1);
}

#banner {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--bg-dark-shade-1);
  height: var(--header-height);
  z-index: 5;
}

#content {
  margin-top: var(--header-height);
  height: calc(100vh - var(--header-height));
  z-index: 1;
}

.input-container {
  text-align: center;
  position: relative;
  margin: 0 auto;
  width: 25%;
}

.input-container input {
  opacity: 0;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.input-container label {
  color: white;
  width: 100%;
  height: 2rem;
  line-height: 0.9rem;
  border-radius: 21.5px;
  background-color: #198754;
  padding: 8px 16px;
}

.cursor-pointer {
  cursor: pointer !important;
}

.error {
  color: #94232c;
  text-align: center;
}

.bg-dark-shade-1 {
  background-color: var(--bg-dark-shade-1) !important;
}

.bg-dark-shade-2 {
  background-color: var(--bg-dark-shade-2) !important;
}

.overflow-break {
  overflow-wrap: break-word !important;
  word-break: break-all !important;
}

input.green-checkbox:checked {
  background-color: #198754 !important;
}

input.green-checkbox,
input.green-checkbox:active,
input.green-checkbox:checked,
input.green-checkbox:hover,
input.green-checkbox:focus {
  border-color: #137145 !important;
}

button.un-style {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

a {
  color: #198754 !important;
  text-decoration: none !important;
}

.h-100 {
  height: 100% !important;
}

.underline {
  text-decoration: underline !important;
}

.modal-body {
  text-align: justify !important;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #adb5bd !important;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #adb5bd !important;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #adb5bd !important;
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #adb5bd !important;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #adb5bd !important;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: #adb5bd !important;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #fff #fff transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #198754 #198754;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 32px;
  height: 32px;
  border-color: #fff #fff transparent transparent;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

div.alert.alert-success {
  background-color: #051b11 !important;
  color: #75b798 !important;
  border-color: var(--green-1) !important;
}

div.alert.alert-danger {
  background-color: #2c0b0e !important;
  color: #ea868f !important;
  border-color: #842029 !important;
}

.file-name {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

.file-size {
  font-size: 10px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 0.25rem;
}

.form-control,
.form-select {
  border-color: var(--green-1) !important;
}

.form-control:focus,
.form-select:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem #0f513246 !important;
}

.green-hover:hover {
  color: #198754 !important;
}

.scale-on-hover:hover {
  scale: 1.1;
}

.w-33 {
  width: 33% !important;
}

.pointer-none {
  pointer-events: none !important;
}

.bi-eye {
  color: var(--dark-blue);
}

.bi-eye-slash {
  color: var(--dark-red);
}

.collapsing {
  -webkit-transition: none;
  transition: none;
  display: none;
}